<div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">{{pageTitle}}</h1>
            <p class="lead">Dynamic Display using an external API request of Popular TV Shows Right Now</p>
          </div>
        </div>
      </div>
<div class="container">

        <div class="row rows-cols-2">
    <div *ngFor = "let tvShow of tvShows" class="card mb-3" style="width: 540px; margin-left: 20px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src] = "(imgUrl + tvShow.poster_path)" style=" width: 100%; height: 15vw; object-fit: cover;" class="card-img embed-responsive-item" alt="{{tvShow.title}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{tvShow.original_name}}</h5>
                  <p class="card-text" style="font-size: .7em;">{{tvShow.overview}}</p>
                  <p class="card-text"><small class="text-muted"><span>Release Date: </span>{{tvShow.first_air_date}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>    
    </div>